
.form{
    display: flex;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100px;

}

.form div{
    margin-bottom: 10px;
}
.formSummaryError{
    border: 2px solid red;
    padding: 5px;
    color: purple;
}