
.wrapper{
    padding-bottom: 20px;
}
.header{
    color: #0d6efd;
    font-size: 20px;
    font-weight: 900;
}
.post {
    display: flex;
}

.text{
    width: 400px;
    border-color: gray;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;

}
.btn{
    border: none;
    font-size: 16px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #0d6efd;

}
