.nav{
    background-color: #fff;
    margin-top: 20px;
    border-radius: 4px;
    
}

.item{
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
}
.item a {
    color: slateblue;
}
.item a.activeLink{
    color: #0d6efd;
}
.friendsBar{
    padding: 0;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 2px solid cornflowerblue;
}

